//* Переменные * 
$main-color:#F16D7F;

@mixin transform {
    transform: scale(1.2);
    color: $main-color;
}

@mixin card_product_text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

* {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
    line-height: 17px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 0px;
    height: 0px;
    clip: rect(0px 0px 0px 0px);
    display: flex;
}

//* шапка *// 
.header {
    background-color: #222222;
    ;
}

.navi {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    align-items: end;
}

.basket_number {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -9px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    font-size: 12px;
    background-color: #F16D7F;
    color: #fff;
}

.navi svg {
    fill: #FFFFFF; // fill (аналогия с color) - Назначает цвет для in line svg

    &:hover {
        fill: $main-color;
    }
}

.navi_left {
    display: flex;
    gap: 40px; // расстояние между flex, аналог margin отлько практичней.
}

.navi_right {
    display: flex;
    gap: 33px;
}

.navi_icon_cart {
    cursor: pointer;
    position: relative;
}

.navi_search_btm {
    background: transparent; //Делает цвет прозрачным
    // Можно также использовать background: none?
    border: none;
    cursor: pointer;
}

.navi_menu_btm {
    background: transparent; //Делает цвет прозрацным
    border: none;
}

.page_title {
    background-color: #F8F3F4;
}

.navi_crumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.nevarrivals {
    color: $main-color;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.crumbs_list {
    display: flex;
    font-weight: 300;
    margin: 0px;
}

.crumbs_list li+li:before {
    //Добавить символ косой черты (/) перед/за каждым элементом списка
    margin: 5px;
    color: black;
    content: "/\00a0";
}

.crumbs {
    color: #636363;
}

.nevarrivals_crumbs {
    color: $main-color;
    font-weight: normal;
}

//* промо *//
.promo {
    background-color: #F1E4E6;
    min-height: 760px;
    display: flex;

    .promo_con {
        // background-image: url(../img/men_fo_banner.png);
        // background-repeat: no-repeat;
        // background-position: -228px;
        display: flex;
        align-items: center;

        .main_video {
            padding-right: 60px;
        }

        .promo_position {
            border-left: 12px solid $main-color;
            padding-left: 16px;
        }
    }
}

.band {
    min-width: 12px;
    background-color: $main-color;
}

.main_text {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    margin: 0;
}

.main_text span {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
}

.span_text_color {
    color: $main-color;
}

//* контент *//
.content {
    min-height: 100vh;
    flex-grow: 1;
}

.content_product {
    padding-bottom: 130px;
}

.content_burger_menu {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.content_burger_menu_filter {
    width: 360px;
    position: relative;
}

.content_burger_menu_filter[open] .filter_box {
    color: $main-color;
    fill: $main-color;
}

.filter_box {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .filter_box_text {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
}

.filter_box::-webkit-details-marker {
    display: none;
}

.content_burger_menu_filter_overlay {
    position: absolute;
    z-index: 10; //Делает блок поверх остальных
    background: #FFFFFF;
    width: 100%;
    padding: 17px;
    box-sizing: border-box;
    box-shadow: 6px 4px 35px #E5E5E5;
    cursor: pointer;
}

.filter_item {
    margin-bottom: 18px;
}

.filter_item[open] .filter_text {
    color: $main-color;
}

.filter_text {
    display: block;
    padding: 10px;
    border-left: 5px solid $main-color;
    border-bottom: 1px solid #EBEBEB;
    color: #6F6E6E;
    text-transform: uppercase;
}

.filter_li {
    padding-left: 35px;
    padding-bottom: 10px;
}

.filter_btm {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content_burger_menu_choice {
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: #6F6E6E;
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    .choice {
        // position: relative;

        .choice_overlay {
            display: flex;
            // position: absolute;
            // z-index: 10;

            .choice_text {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }

}

.choice_text::-webkit-details-marker {
    display: none;
}

.billboard {
    background-color: #F7F7F7;
}

.billboard_navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.billbord_choice {
    width: 47px;
    height: 47px;
    fill: #000000;

    &:hover {
        fill: $main-color;
    }
}

.product_description {
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: -70px;
}

.product_info {
    padding-top: 65px;

    .product_main_p {
        color: $main-color;
        font-weight: 300;

        &:after {
            // псевдо элемент полоска (розовая полоска)
            content: '';
            display: block;
            height: 3px;
            background-color: #EF5B70;
            margin: 0 auto;
            width: 63px;
            margin-top: 12px;
        }
    }

    .product_h2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    .product_p {
        font-weight: 300;
        padding: 50px 0px 30px;
    }

    .product_price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;

        &:after {
            // псевдо элемент (серая полоска)
            content: "";
            display: block;
            height: 1px;
            width: 640px;
            background-color: #EAEAEA;
            margin: 0 auto;
            margin-top: 65px;
            margin-bottom: 65px;
        }
    }
}

.product_basket {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu_choice {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        .product_choice {
            display: flex;
            gap: 10px;
            padding-right: 23px;
        }
    }

    .product_basket_choice {
        cursor: pointer;
        width: 210px;
        border: 1px solid #FF6A6A;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 23px;
        margin-top: 50px;
        transition: all 0.3s ease;
        gap: 23px;
        fill: $main-color;
        background-color: transparent;

        .product_basket_choice_text {
            color: $main-color;

            &:hover {
                color: #fff;
            }
        }

        &:hover {
            background-color: $main-color;
        }

        &:hover {
            fill: #FFFFFF;
        }
    }
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 65px;
    gap: 30px;

    .offer_box {
        position: relative; // Для родиля чтобы можно пыло писать по верх картинки
        text-align: center;

        .offer_photo {
            width: 100%;
        }

        .offer_link {
            position: absolute; // Для дочернего чтобы можно пыло писать по верх картинки 
            top: 50%; // Позиционирование
            left: 50%; // Позиционирование
            transform: translate(-50%, -50%); // Позиционирование
            color: #FFFFFF;
            font-weight: 300;

            .text_offer {
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .offer_link span {
            color: $main-color;
            font-size: 24px;
            line-height: 29px;
            font-weight: 400;
        }
    }

}

.products {
    padding: 96px 0px 50px;
}

.products_title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin: 0px;
}

.products_paragraph {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin: 0px;
}

.products_box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 48px;
}

.catalog_box {
    padding-top: 70px;
}

.products_cards {
    padding-top: 130px;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 360px;
    background-color: #F8F8F8;
}

.box:hover .products_overlay {
    display: flex;
}

.products_overlay {
    display: none; //для скрытого класса
    position: absolute;
    width: 100%;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    justify-content: center;
    align-items: center;

    .products_overlay_btm {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        padding: 13px 16px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        .products_overlay_text {
            margin-left: 10px;
            font-size: 14px;
            line-height: 17px;
        }

        // 1-Вариант центрирования
        // display: flex;
        // justify-content: center;
        // 2-вариант
        .products_overlay_img,
        .products_overlay_text {
            vertical-align: middle;
            display: inline-block
        }
    }
}

.text_box {
    padding: 0 28px 0 17px;
}

.box h3 {
    font-size: 13px;
    line-height: 16px;
    color: #000000;

    &:hover {
        font-weight: 800;
    }
}

.box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.btm_posotion {
    text-align: center;
}

.btn_content {
    width: 220px;
    border: 1px solid #FF6A6A;
    display: inline-block;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    color: $main-color;
    transition: all 0.3s ease; // скорость реагирования (переключения hover)

    &:hover {
        background-color: $main-color;
        color: #FFFFFF;
    }
}

.pagination {
    width: 280px;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    color: #EBEBEB;
    text-align: center;

    .pagination_link {
        display: inline;

        .pagination_btm {
            font-weight: 300;
            border: none;
            background: transparent;
            fill: #000000;

            &:hover {
                @include transform;
                fill: $main-color;
            }
        }
    }
}

.registration_form {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 95px;

    .user_form {
        max-width: 360px;
        display: flex;
        flex-direction: column;

        .main_text_form {
            font-weight: 300;
            color: #222222;
        }

        .user_data {
            padding: 13px 17px 16px;
            margin-bottom: 20px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            border: 1px solid #A4A4A4;
            color: #B1B1B1;
        }

        .text_form {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            margin-top: 0px;
            color: #B1B1B1;
        }

        .btm_form {
            width: 170px;
            margin-top: 40px;
            color: $main-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            background: transparent;
            border: 1px solid $main-color;
            padding: 16px 30px;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
                background-color: $main-color;
            }
        }
    }

    .radio_form {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;

        .radio_hidden {
            visibility: hidden;
        }

        .radio_text {
            padding-left: 10px;
            padding-right: 20px;
        }
    }

    .registration_loyalty {
        max-width: 650px;

        .loyality_text {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }

        .loyality_list {
            padding-left: 25px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style-image: url(../img/vector_list.svg);

            .loyality_list_text {
                padding-left: 23px;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }
        }
    }
}

.shopping_cart {
    padding: 96px 0px 130px;
    display: flex;
    justify-content: space-between;

    .card_product_info {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
        box-shadow: 30px 30px 30px #e5e5e5;

        .card_product_picturec {
            height: 306px;
        }

        .card_product_closed {
            display: flex;

            .card_product_tex {
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
            }

            .card_closed {
                display: flex;
                align-items: center;
                align-content: center;
                padding: 0px;
                border: none;
                background: transparent;
                margin: 30px 20px;
            }
        }

        .card_product_param {
            @include card_product_text;
            color: #575757;
            padding-bottom: 6px;

            .card_product_price {
                @include card_product_text;
                color: $main-color;
            }

            .card_product_calor {
                @include card_product_text;
                color: #656565;
            }

            .card_product_size {
                @include card_product_text;
                color: #656565;
            }

            .card_product_quantity {
                @include card_product_text;
                border: 1px solid #EAEAEA;
                color: #656565;
                margin-left: 25px;
                padding: 0px 17px;
            }
        }
    }

    .card_product_btm {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .clear_shopping {
            background: transparent;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            padding: 17px 40px;
            border: 1px solid #A4A4A4;
            cursor: pointer;
        }

        // .continue_shopping {
        //     background: transparent;
        //     font-weight: 300;
        //     font-size: 14px;
        //     line-height: 17px;
        //     color: #000000;
        //     padding: 17px 40px;
        //     border: 1px solid #A4A4A4;
        // }
    }

    .total_busket {

        .total_busket_delivery {
            padding-bottom: 57px;
            width: 360px;

            .delivery_text {
                margin-bottom: 0px;
                font-weight: 300;
                color: #222222;
            }

            .delivery_form {
                display: flex;
                flex-direction: column;

                .delivery_input {
                    margin-top: 20px;
                    padding: 13px 17px;
                    border: 1px solid #A4A4A4;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #222222;
                }

                .delivery_btm {
                    margin-top: 25px;
                    width: 100px;
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 13px;
                    padding: 10px 14px;
                    color: #4A4A4A;
                    box-sizing: content-box;
                    border: 1px solid #A4A4A4;
                    background-color: transparent;
                }
            }
        }

        .total_busket_price {
            background: #F5F3F3;
            text-align: center;
            width: 360px;

            .total_busket_price_top {
                text-align: end;

                &:after {
                    // псевдо жлемент (серая полоска)
                    content: "";
                    display: block;
                    height: 1px;
                    width: 275px;
                    background-color: #E2E2E2;
                    margin: 0 auto;
                    margin-top: 21px;
                    margin-bottom: 17px;
                }

                .total_busket_price_final {
                    padding: 40px 35px 0px;

                    .sub_total {
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 13px;
                        color: #4A4A4A;
                        padding-bottom: 12px;

                        .sub_total_price {
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 13px;
                            color: #4A4A4A;
                            padding-left: 25px;
                        }
                    }

                    .grand_total {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: #222222;

                        .grand_total_price {
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 19px;
                            color: $main-color;
                            padding-left: 25px;
                        }
                    }
                }
            }

            .total_busket_price_bottom {
                .checkout_btm {
                    padding: 16px 40px;
                    margin-bottom: 40px;
                    transition: all 0.3s ease;
                    border: none;
                    background-color: $main-color;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }
}

//* преимущества *//
.advantages {
    margin-top: 95px;
    background: #222224;
}

.advantages_box {
    display: flex;
    padding: 100px 0px;
    gap: 30px;
}

.advantages_box h2 {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.advantages_box p {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.info_advantages {
    text-align: center;
    width: 360px;
}

//* подписка *// 
.subscribe {
    background-image: url(../img/background_subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info_subscribe {
    padding: 100px 0 120px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.callback {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #F16D7F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    &:hover {
        transform: scale(1.1);
        animation: bounce
            /*имя анимации*/
            1s ease infinite alternate; //Парвметры анимации
    }

    .callback_img {
        width: 30px;
    }
}

//Значения анимации//
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30);
    }
}

.authors_words {
    width: 360px;
}

.authors_words_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.feedback {
    width: 560px;
}

.feedback h2 {
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    color: #222224;
}

.feedback span {
    font-weight: 200;
    font-size: 24px;
}

.forma_subscribe {
    display: flex;
    justify-content: center;
}

.input {
    border-radius: 20px 0 0 20px;
    background: #E1E1E1;
    width: 255px;
    height: 50px;
    padding: 0px 22px 0px 22px;
    border: none;
}

.btm_subscribe {
    display: inline-block;
    width: 100px;
    background: $main-color;
    color: #FFFFFF;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

//* подвал *// 
.footer {
    background: #222224;
    color: #FBFBFB;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messengers {
    display: flex;
    gap: 8px;
}

.messengers_link {
    background-color: #FFFFFF;
    color: #222;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $main-color;
        color: #FFFFFF;
    }
}

.fa-brands {
    font-size: 15px;
}

// адаптив // 
@media (max-width: 1229px) {
    .container {
        width: 735px;
    }

    .promo {
        min-height: 360px;

        .promo_con {
            .main_video {
                width: 40%;
                height: 200px;
                padding-right: 40px;
            }
        }
    }

    .offer {
        gap: 15px;

        .offer_box {
            .offer_photo {
                width: 230px;
            }

            .big_photo {
                width: 100%;
            }
        }
    }

    .content_burger_menu {
        padding-top: 24px;
        justify-content: space-between;
    }

    .product_description {
        margin-top: 0px;

        // &:after {
        //     // псевдо элемент (серая полоска)
        //     content: "";
        //     display: block;
        //     height: 1px;
        //     width: 360px;
        //     background-color: #EAEAEA;
        //     margin-top: 65px;
        // }
    }

    .products_box {
        gap: 15px;
    }

    .catalog_box {
        padding: 40px 0px;
    }

    .box_3 {
        display: none;
    }

    .shopping_cart {
        flex-direction: column;
        align-items: center;
    }

    .shopping_cart {
        .card_product_btm {
            justify-content: space-around;
        }

    }

    .total_busket {
        padding-top: 65px;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .registration_form {
        gap: 22px;

        .registration_loyalty {
            width: 350px;

            .loyality_text {
                font-size: 16px;
                line-height: 19px;
            }

            .loyality_list {
                .loyality_list_text {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }

        .radio_form {
            .radio_hidden {
                visibility: visible;
            }
        }
    }

    .advantages {
        margin-top: 65px;
    }

    .advantages_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0px 65px;
    }

    .products {
        padding-bottom: 30px;
    }

    .info_subscribe {
        flex-direction: column;
        padding: 50px 0 140px;
    }

    .callback {
        display: none;
    }
}

@media (max-width: 749px) {
    .container {
        width: 360px;
    }

    .navi_icon_registration {
        display: none;
    }

    .navi_icon_cart {
        display: none;
    }

    .navi_crumbs {
        flex-direction: column;
    }

    .main_video {
        display: none;
    }

    .filter_box {
        .filter_box_text {
            display: none;
        }
    }

    .content_burger_menu_filter {
        width: auto
    }

    .content_burger_menu_filter_overlay {
        width: 200px;
    }

    .filter_li {
        padding-left: 0px;
    }

    .main_text {
        font-size: 38px;
        line-height: 45px;
    }

    .main_text span {
        font-size: 20px;
        line-height: 24px;
    }

    .promo .promo_con {
        justify-content: center;
    }

    .offer .offer_box .offer_photo {
        width: 340px;
    }

    .total_busket {
        flex-direction: column;
    }


    .shopping_cart {
        .card_product_info {
            gap: 17px;

            .card_product_closed {
                .card_product_tex {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }

    .offer .offer_box .big_photo {
        min-height: 110px;
    }

    .info_subscribe {
        padding: 50px 0 110px;
    }

    .shopping_cart .card_product_btm .clear_shopping {
        font-size: 12px;
        line-height: 14px;
        padding: 9px;
        cursor: pointer;
    }

    .footer_info {
        flex-direction: column-reverse;
    }

    .feedback {
        width: 340px;
    }

    .feedback span {
        font-size: 14px;
    }

}