* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 17px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  clip: rect(0px 0px 0px 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-color: #222222;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.basket_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -5px;
  right: -9px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #F16D7F;
  color: #fff;
}

.navi svg {
  fill: #FFFFFF;
}

.navi svg:hover {
  fill: #F16D7F;
}

.navi_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.navi_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
}

.navi_icon_cart {
  cursor: pointer;
  position: relative;
}

.navi_search_btm {
  background: transparent;
  border: none;
  cursor: pointer;
}

.navi_menu_btm {
  background: transparent;
  border: none;
}

.page_title {
  background-color: #F8F3F4;
}

.navi_crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.nevarrivals {
  color: #F16D7F;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.crumbs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  margin: 0px;
}

.crumbs_list li + li:before {
  margin: 5px;
  color: black;
  content: "/\00a0";
}

.crumbs {
  color: #636363;
}

.nevarrivals_crumbs {
  color: #F16D7F;
  font-weight: normal;
}

.promo {
  background-color: #F1E4E6;
  min-height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo .promo_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo .promo_con .main_video {
  padding-right: 60px;
}

.promo .promo_con .promo_position {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.band {
  min-width: 12px;
  background-color: #F16D7F;
}

.main_text {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  margin: 0;
}

.main_text span {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}

.span_text_color {
  color: #F16D7F;
}

.content {
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content_product {
  padding-bottom: 130px;
}

.content_burger_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.content_burger_menu_filter {
  width: 360px;
  position: relative;
}

.content_burger_menu_filter[open] .filter_box {
  color: #F16D7F;
  fill: #F16D7F;
}

.filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.filter_box .filter_box_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filter_box::-webkit-details-marker {
  display: none;
}

.content_burger_menu_filter_overlay {
  position: absolute;
  z-index: 10;
  background: #FFFFFF;
  width: 100%;
  padding: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px #E5E5E5;
          box-shadow: 6px 4px 35px #E5E5E5;
  cursor: pointer;
}

.filter_item {
  margin-bottom: 18px;
}

.filter_item[open] .filter_text {
  color: #F16D7F;
}

.filter_text {
  display: block;
  padding: 10px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  color: #6F6E6E;
  text-transform: uppercase;
}

.filter_li {
  padding-left: 35px;
  padding-bottom: 10px;
}

.filter_btm {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.content_burger_menu_choice {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6F6E6E;
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.content_burger_menu_choice .choice .choice_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_burger_menu_choice .choice .choice_overlay .choice_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice_text::-webkit-details-marker {
  display: none;
}

.billboard {
  background-color: #F7F7F7;
}

.billboard_navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}

.billbord_choice {
  width: 47px;
  height: 47px;
  fill: #000000;
}

.billbord_choice:hover {
  fill: #F16D7F;
}

.product_description {
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  margin-top: -70px;
}

.product_info {
  padding-top: 65px;
}

.product_info .product_main_p {
  color: #F16D7F;
  font-weight: 300;
}

.product_info .product_main_p:after {
  content: '';
  display: block;
  height: 3px;
  background-color: #EF5B70;
  margin: 0 auto;
  width: 63px;
  margin-top: 12px;
}

.product_info .product_h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product_info .product_p {
  font-weight: 300;
  padding: 50px 0px 30px;
}

.product_info .product_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product_info .product_price:after {
  content: "";
  display: block;
  height: 1px;
  width: 640px;
  background-color: #EAEAEA;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
}

.product_basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_basket .menu_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product_basket .menu_choice .product_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-right: 23px;
}

.product_basket .product_basket_choice {
  cursor: pointer;
  width: 210px;
  border: 1px solid #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 23px;
  margin-top: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  gap: 23px;
  fill: #F16D7F;
  background-color: transparent;
}

.product_basket .product_basket_choice .product_basket_choice_text {
  color: #F16D7F;
}

.product_basket .product_basket_choice .product_basket_choice_text:hover {
  color: #fff;
}

.product_basket .product_basket_choice:hover {
  background-color: #F16D7F;
}

.product_basket .product_basket_choice:hover {
  fill: #FFFFFF;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 65px;
  gap: 30px;
}

.offer .offer_box {
  position: relative;
  text-align: center;
}

.offer .offer_box .offer_photo {
  width: 100%;
}

.offer .offer_box .offer_link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 300;
}

.offer .offer_box .offer_link .text_offer:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.offer .offer_box .offer_link span {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.products {
  padding: 96px 0px 50px;
}

.products_title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0px;
}

.products_paragraph {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0px;
}

.products_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 48px;
}

.catalog_box {
  padding-top: 70px;
}

.products_cards {
  padding-top: 130px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 360px;
  background-color: #F8F8F8;
}

.box:hover .products_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products_overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products_overlay .products_overlay_btm {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 13px 16px;
  cursor: pointer;
}

.products_overlay .products_overlay_btm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products_overlay .products_overlay_btm .products_overlay_text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 17px;
}

.products_overlay .products_overlay_btm .products_overlay_img,
.products_overlay .products_overlay_btm .products_overlay_text {
  vertical-align: middle;
  display: inline-block;
}

.text_box {
  padding: 0 28px 0 17px;
}

.box h3 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.box h3:hover {
  font-weight: 800;
}

.box p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.btm_posotion {
  text-align: center;
}

.btn_content {
  width: 220px;
  border: 1px solid #FF6A6A;
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  color: #F16D7F;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_content:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.pagination {
  width: 280px;
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
  color: #EBEBEB;
  text-align: center;
}

.pagination .pagination_link {
  display: inline;
}

.pagination .pagination_link .pagination_btm {
  font-weight: 300;
  border: none;
  background: transparent;
  fill: #000000;
}

.pagination .pagination_link .pagination_btm:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #F16D7F;
  fill: #F16D7F;
}

.registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 95px;
}

.registration_form .user_form {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_form .user_form .main_text_form {
  font-weight: 300;
  color: #222222;
}

.registration_form .user_form .user_data {
  padding: 13px 17px 16px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
}

.registration_form .user_form .text_form {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 0px;
  color: #B1B1B1;
}

.registration_form .user_form .btm_form {
  width: 170px;
  margin-top: 40px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  border: 1px solid #F16D7F;
  padding: 16px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.registration_form .user_form .btm_form:hover {
  color: #fff;
  background-color: #F16D7F;
}

.registration_form .radio_form {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration_form .radio_form .radio_hidden {
  visibility: hidden;
}

.registration_form .radio_form .radio_text {
  padding-left: 10px;
  padding-right: 20px;
}

.registration_form .registration_loyalty {
  max-width: 650px;
}

.registration_form .registration_loyalty .loyality_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration_form .registration_loyalty .loyality_list {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  list-style-image: url(../img/vector_list.svg);
}

.registration_form .registration_loyalty .loyality_list .loyality_list_text {
  padding-left: 23px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.shopping_cart {
  padding: 96px 0px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping_cart .card_product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  -webkit-box-shadow: 30px 30px 30px #e5e5e5;
          box-shadow: 30px 30px 30px #e5e5e5;
}

.shopping_cart .card_product_info .card_product_picturec {
  height: 306px;
}

.shopping_cart .card_product_info .card_product_closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping_cart .card_product_info .card_product_closed .card_product_tex {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.shopping_cart .card_product_info .card_product_closed .card_closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0px;
  border: none;
  background: transparent;
  margin: 30px 20px;
}

.shopping_cart .card_product_info .card_product_param {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.shopping_cart .card_product_info .card_product_param .card_product_price {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #F16D7F;
}

.shopping_cart .card_product_info .card_product_param .card_product_calor {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #656565;
}

.shopping_cart .card_product_info .card_product_param .card_product_size {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #656565;
}

.shopping_cart .card_product_info .card_product_param .card_product_quantity {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border: 1px solid #EAEAEA;
  color: #656565;
  margin-left: 25px;
  padding: 0px 17px;
}

.shopping_cart .card_product_btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.shopping_cart .card_product_btm .clear_shopping {
  background: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  cursor: pointer;
}

.shopping_cart .total_busket .total_busket_delivery {
  padding-bottom: 57px;
  width: 360px;
}

.shopping_cart .total_busket .total_busket_delivery .delivery_text {
  margin-bottom: 0px;
  font-weight: 300;
  color: #222222;
}

.shopping_cart .total_busket .total_busket_delivery .delivery_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shopping_cart .total_busket .total_busket_delivery .delivery_form .delivery_input {
  margin-top: 20px;
  padding: 13px 17px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shopping_cart .total_busket .total_busket_delivery .delivery_form .delivery_btm {
  margin-top: 25px;
  width: 100px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  padding: 10px 14px;
  color: #4A4A4A;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #A4A4A4;
  background-color: transparent;
}

.shopping_cart .total_busket .total_busket_price {
  background: #F5F3F3;
  text-align: center;
  width: 360px;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top {
  text-align: end;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top:after {
  content: "";
  display: block;
  height: 1px;
  width: 275px;
  background-color: #E2E2E2;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 17px;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top .total_busket_price_final {
  padding: 40px 35px 0px;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top .total_busket_price_final .sub_total {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-bottom: 12px;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top .total_busket_price_final .sub_total .sub_total_price {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-left: 25px;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top .total_busket_price_final .grand_total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_top .total_busket_price_final .grand_total .grand_total_price {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 25px;
}

.shopping_cart .total_busket .total_busket_price .total_busket_price_bottom .checkout_btm {
  padding: 16px 40px;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  cursor: pointer;
}

.advantages {
  margin-top: 95px;
  background: #222224;
}

.advantages_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
  gap: 30px;
}

.advantages_box h2 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages_box p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.info_advantages {
  text-align: center;
  width: 360px;
}

.subscribe {
  background-image: url(../img/background_subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.info_subscribe {
  padding: 100px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.callback {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

.callback:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: bounce 1s ease infinite alternate;
          animation: bounce 1s ease infinite alternate;
}

.callback .callback_img {
  width: 30px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30);
            transform: translateY(30);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30);
            transform: translateY(30);
  }
}

.authors_words {
  width: 360px;
}

.authors_words_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.feedback {
  width: 560px;
}

.feedback h2 {
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}

.feedback span {
  font-weight: 200;
  font-size: 24px;
}

.forma_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  border-radius: 20px 0 0 20px;
  background: #E1E1E1;
  width: 255px;
  height: 50px;
  padding: 0px 22px 0px 22px;
  border: none;
}

.btm_subscribe {
  display: inline-block;
  width: 100px;
  background: #F16D7F;
  color: #FFFFFF;
  height: 50px;
  border-radius: 0 20px 20px 0;
  border: none;
  cursor: pointer;
}

.btm_subscribe:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background: #222224;
  color: #FBFBFB;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.messengers_link {
  background-color: #FFFFFF;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messengers_link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.fa-brands {
  font-size: 15px;
}

@media (max-width: 1229px) {
  .container {
    width: 735px;
  }
  .promo {
    min-height: 360px;
  }
  .promo .promo_con .main_video {
    width: 40%;
    height: 200px;
    padding-right: 40px;
  }
  .offer {
    gap: 15px;
  }
  .offer .offer_box .offer_photo {
    width: 230px;
  }
  .offer .offer_box .big_photo {
    width: 100%;
  }
  .content_burger_menu {
    padding-top: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product_description {
    margin-top: 0px;
  }
  .products_box {
    gap: 15px;
  }
  .catalog_box {
    padding: 40px 0px;
  }
  .box_3 {
    display: none;
  }
  .shopping_cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shopping_cart .card_product_btm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .total_busket {
    padding-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .registration_form {
    gap: 22px;
  }
  .registration_form .registration_loyalty {
    width: 350px;
  }
  .registration_form .registration_loyalty .loyality_text {
    font-size: 16px;
    line-height: 19px;
  }
  .registration_form .registration_loyalty .loyality_list .loyality_list_text {
    font-size: 16px;
    line-height: 19px;
  }
  .registration_form .radio_form .radio_hidden {
    visibility: visible;
  }
  .advantages {
    margin-top: 65px;
  }
  .advantages_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0px 65px;
  }
  .products {
    padding-bottom: 30px;
  }
  .info_subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 140px;
  }
  .callback {
    display: none;
  }
}

@media (max-width: 749px) {
  .container {
    width: 360px;
  }
  .navi_icon_registration {
    display: none;
  }
  .navi_icon_cart {
    display: none;
  }
  .navi_crumbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_video {
    display: none;
  }
  .filter_box .filter_box_text {
    display: none;
  }
  .content_burger_menu_filter {
    width: auto;
  }
  .content_burger_menu_filter_overlay {
    width: 200px;
  }
  .filter_li {
    padding-left: 0px;
  }
  .main_text {
    font-size: 38px;
    line-height: 45px;
  }
  .main_text span {
    font-size: 20px;
    line-height: 24px;
  }
  .promo .promo_con {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer .offer_box .offer_photo {
    width: 340px;
  }
  .total_busket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shopping_cart .card_product_info {
    gap: 17px;
  }
  .shopping_cart .card_product_info .card_product_closed .card_product_tex {
    font-size: 16px;
    line-height: 19px;
  }
  .offer .offer_box .big_photo {
    min-height: 110px;
  }
  .info_subscribe {
    padding: 50px 0 110px;
  }
  .shopping_cart .card_product_btm .clear_shopping {
    font-size: 12px;
    line-height: 14px;
    padding: 9px;
    cursor: pointer;
  }
  .footer_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .feedback {
    width: 340px;
  }
  .feedback span {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */