@charset "UTF-8";
* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  clip: rect(0px 0px 0px 0px);
  display: flex;
}

.header {
  background-color: #222222;
}

.navi {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
  align-items: end;
}

.basket_number {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 140px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #F16D7F;
  color: #fff;
}

.navi_icon svg {
  fill: #FFFFFF;
}
.navi_icon svg:hover {
  fill: #F16D7F;
}

.navi_left {
  display: flex;
  gap: 40px;
}

.navi_right {
  display: flex;
  gap: 33px;
}

.navi_icon {
  cursor: pointer;
}

.navi_search_btm {
  background: transparent;
  border: none;
  cursor: pointer;
}

.navi_menu_btm {
  background: transparent;
  border: none;
}

.page_title {
  background-color: #F8F3F4;
}

.navi_crumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.nevarrivals {
  color: #F16D7F;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.crumbs_list {
  display: flex;
  font-weight: 300;
  margin: 0px;
}

.crumbs_list li + li:before {
  margin: 5px;
  color: black;
  content: "/ ";
}

.crumbs {
  color: #636363;
}

.nevarrivals_crumbs {
  color: #F16D7F;
  font-weight: normal;
}

.promo {
  background-color: #F1E4E6;
}

.promo_con {
  min-height: 760px;
}

.main_video {
  padding-top: 135px;
}

.promo_position {
  display: flex;
  float: right;
  padding: 290px 100px 0 0;
  gap: 16px;
}

.band {
  min-width: 12px;
  background-color: #F16D7F;
}

.main_text {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  margin: 0;
}

.main_text span {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}

.span_text_color {
  color: #F16D7F;
}

.content {
  padding-top: 65px;
  flex-grow: 1;
}

.content_product {
  padding-bottom: 130px;
}

.content_burger_menu {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.content_burger_menu_filter {
  display: flex;
  gap: 10px;
}

.content_burger_menu_choice {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #6F6E6E;
  font-weight: 300;
}

.choice {
  display: flex;
  gap: 10px;
  padding-right: 30px;
}

.billboard {
  background-color: #F7F7F7;
}

.billboard_navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 70px;
}

.billbord_choice {
  width: 47px;
  height: 47px;
  fill: #000000;
}
.billbord_choice:hover {
  fill: #F16D7F;
}

.product_description {
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #FFFFFF;
  margin-top: -70px;
  padding-bottom: 65px;
}

.product_info {
  padding-top: 64px;
}
.product_info .product_main_p {
  color: #F16D7F;
  font-weight: 300;
}
.product_info .product_main_p:after {
  content: "";
  display: block;
  height: 3px;
  background-color: #EF5B70;
  margin: 0 auto;
  width: 63px;
  margin-top: 12px;
}
.product_info .product_h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}
.product_info .product_p {
  font-weight: 300;
  padding: 50px 0px 30px;
}
.product_info .product_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}
.product_info .product_price:after {
  content: "";
  display: block;
  height: 1px;
  width: 640px;
  background-color: #EAEAEA;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
}

.product_basket {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_basket .menu_choice {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.product_basket .menu_choice .product_choice {
  display: flex;
  gap: 10px;
  padding-right: 23px;
}
.product_basket .product_basket_choice {
  width: 210px;
  border: 1px solid #FF6A6A;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 23px;
  margin-top: 50px;
  transition: all 0.5s ease;
  gap: 23px;
}
.product_basket .product_basket_choice .product_basket_choice_text {
  color: #F26376;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  gap: 30px;
}

.offer_box {
  position: relative;
  text-align: center;
}

.offer_link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 300;
}

.offer_link span {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.products {
  padding-top: 96px;
}

.products_title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0px;
}

.products_paragraph {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0px;
}

.products_box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 48px;
}

.catalog_box {
  padding-top: 70px;
}

.products_cards {
  padding-top: 130px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: #F8F8F8;
}

.text_box {
  padding: 0 28px 0 17px;
}

.box h3 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.box p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.btm_posotion {
  text-align: center;
  padding-top: 48px;
}

.btn_content {
  width: 220px;
  border: 1px solid #FF6A6A;
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  color: #F26376;
  transition: all 0.5s ease;
}
.btn_content:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.pagination {
  width: 280px;
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  color: #EBEBEB;
  text-align: center;
}

.pagination_link {
  display: inline;
}

.pagination_link svg {
  fill: #000000;
}
.pagination_link svg:hover {
  fill: #F16D7F;
}

.pagination_btm {
  font-weight: 300;
  border: none;
  background: transparent;
}
.pagination_btm:hover {
  color: #F16D7F;
}

.registration_form {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 95px;
}
.registration_form .user_form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}
.registration_form .user_form .main_text_form {
  font-weight: 300;
  color: #222222;
}
.registration_form .user_form .user_data {
  padding: 13px 17px 16px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
}
.registration_form .user_form .text_form {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 0px;
}
.registration_form .user_form .btm_form {
  width: 170px;
  margin-top: 40px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  border: 1px solid #F16D7F;
  padding: 16px 30px;
  transition: all 0.5s ease;
}
.registration_form .user_form .btm_form:hover {
  color: #fff;
  background-color: #F16D7F;
}
.registration_form .radio_form {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
.registration_form .radio_form .radio_text {
  padding-left: 10px;
  padding-right: 20px;
}
.registration_form .registration_loyalty {
  max-width: 650px;
}
.registration_form .registration_loyalty .loyality_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.registration_form .registration_loyalty .loyality_list {
  padding-left: 25px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-image: url(../img/vector_list.svg);
}
.registration_form .registration_loyalty .loyality_list .oyality_list_text {
  padding-left: 23px;
}

.advantages {
  margin-top: 95px;
  background: #222224;
}

.advantages_box {
  display: flex;
  gap: 30px;
}

.advantages_box h2 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages_box p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.info_advantages {
  padding: 100px 0 100px;
  text-align: center;
}

.subscribe {
  background-image: url(../img/background_subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.info_subscribe {
  padding: 100px 0 120px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.authors_words {
  width: 300px;
}

.feedback {
  width: 560px;
}

.feedback h2 {
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}

.feedback span {
  font-weight: 200;
  font-size: 20px;
}

.forma_subscribe {
  display: flex;
  justify-content: center;
}

.input {
  border-radius: 20px 0 0 20px;
  background: #E1E1E1;
  width: 255px;
  height: 50px;
  padding-left: 22px;
  border: none;
}

.btm_subscribe {
  display: inline-block;
  width: 100px;
  background: #F16D7F;
  color: #FFFFFF;
  height: 50px;
  border-radius: 0 20px 20px 0;
  border: none;
}

.footer {
  background: #222224;
  color: #FBFBFB;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messengers {
  display: flex;
  gap: 8px;
}

.messengers_link {
  background-color: #FFFFFF;
  color: #222;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}
.messengers_link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.fa-brands {
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */